.TextAlign {
  text-align: left;
  h3 {
    padding-bottom: 8%;
  }
}

.form-check {
  display: block;
  font-family: system-ui, sans-serif;
  font-size: 2.2rem;
  font-weight: bolder;
  line-height: 1.5;
  /* display: grid; */
  /* grid-template-columns: 1em auto; */
  /* gap: 0.5em; */
}

.form-check-inline {
  display: inline-block;
  /* padding: 5px 10px; */
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  /* color: currentColor; */
  width: 2.15em;
  height: 2.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  place-content: center;
}
label {
  font-size: 20px;
}
input[type="radio"]::before {
  content: "";
  width: 1.65em;
  height: 1.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}


